<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
	  <CSW.Properties.Settings>
    <setting name="DataSheetDestinationPath" serializeAs="String">
     <value>C:\CSWMerge\REG\</value>
    </setting>
    <setting name="ScreenshotsDirectory" serializeAs="String">
     <value>ScreenShots\</value>
    </setting>
    <setting name="TestFileAppData" serializeAs="String">
     <value>TestData\TestFile.txt</value>
    </setting>
    <setting name="PDFPath" serializeAs="String">
     <value>ScreenShots\ApplicationPDFs\</value>
    </setting>
    <setting name="TemplatePath" serializeAs="String">
     <value>TestData\Templates\</value>
    </setting>
    <setting name="NYLDAutomationEmailID" serializeAs="String">
     <value>NYLDirect_Automation@nylagy.onmicrosoft.com</value>
    </setting>
    <setting name="NYLDAutomationEmailPwd" serializeAs="String">
     <value>DirectAuto100</value>
    </setting>
    <setting name="DataMaintenanceImage" serializeAs="String">
     <value>Templates\DataMaintenance_DoNotDelete.jpg</value>
    </setting>
    <setting name="ExistingUserAccountsSheet" serializeAs="String">
     <value>CSW_ExistingUserAccounts.xlsx</value>
    </setting>
    <setting name="NewUserAccountSheet" serializeAs="String">
     <value>TestData\Applications.xls</value>
    </setting>
    <setting name="MuleServiceUserName" serializeAs="String">
     <value>SVC_AUT_MULE_Q</value>
    </setting>
    <setting name="MuleServiceEndPoint" serializeAs="String">
     <value>https://modl-api4.nylaarp.newyorklife.com</value>
    </setting>
    <setting name="MuleClientID" serializeAs="String">
     <value>174a105c000f485480baa1e37580ecc8</value>
    </setting>
    <setting name="MuleClientSecret" serializeAs="String">
     <value>dc89a4c2cf874e9fB0122B4E61F5396A</value>
    </setting>
    <setting name="MuleServicePassword" serializeAs="String">
     <value>UAQ2ZwqystlMLPwDyi7kDWbvM9vg1TrNtKLVK9djMMXBx7roHnlgceEmrSjWkB+y</value>
    </setting>
    <setting name="SecureDocUploadFilesPath" serializeAs="String">
     <value>TestData\SampleFiles\SecureDocUploadFiles\</value>
    </setting>
    <setting name="ExistingdataSheet" serializeAs="String">
     <value>TestData\TestFile.txt</value>
    </setting>
    <setting name="ScriptsFolder" serializeAs="String">
     <value>TestData\SampleFiles\Scripts\</value>
    </setting>
    <setting name="MuleClientID1" serializeAs="String">
     <value>78eeccca04a7487b825bd232a75cca6c</value>
    </setting>
    <setting name="MuleClientSecret1" serializeAs="String">
     <value>94EF5acae04F48AA95AC98fD6298c3A0</value>
    </setting>
    <setting name="Tampa01UID" serializeAs="String">
     <value>Motest12</value>
    </setting>
    <setting name="TestDataPath" serializeAs="String">
     <value>TestData\UserAccounts\</value>
    </setting>
    <setting name="RootDirectory" serializeAs="String">
     <value>\\fs3.nylaarp.nt.newyorklife.com\Restricted\Info Systems Department Owned\TestData\Automation\CSW\</value>
    </setting>
    <setting name="OutlookEmailDirectory" serializeAs="String">
     <value>ScreenShots\Email\</value>
    </setting>
    <setting name="LogFile" serializeAs="String">
     <value>C:\Selenium_Net\ScreenShots\Steps.txt</value>
    </setting>
    <setting name="DataSheet" serializeAs="String">
     <value>CSW_TestAutomationSuite.xlsx</value>
    </setting>
    <setting name="DataSheetPath" serializeAs="String">
     <value>Datasheets\</value>
    </setting>
    <setting name="TestDataRestore" serializeAs="String">
     <value>TestData\Templates\Restore\</value>
    </setting>
   </CSW.Properties.Settings>
  </userSettings>
  <runtime>
   
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
   
            <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
   
        </dependentAssembly>
   
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
   
        </dependentAssembly>
   
        <dependentAssembly>
   
            <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
   
            <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
   
        </dependentAssembly>
   
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
